BusProviderApplication/Connected Services/ProviderServiceReference/ProvidersWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertBusDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="capacity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBusDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="seatNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="seatStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookSeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookSeatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSeatType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="seatNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="seatType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSeatTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeSeatTypeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetBusDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusDetailsResult" type="tns:ArrayOfGetBusDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetBusDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetBusDetails_Result" nillable="true" type="tns:GetBusDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetBusDetails_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BusId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BusName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCityDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCityDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCityDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetCityDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityDetailsResult" type="tns:ArrayOfGetCityDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetCityDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetCityDetails_Result" nillable="true" type="tns:GetCityDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetCityDetails_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRouteDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dateOfJourney" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="arrivalTime" type="tns:TimeSpan" />
            <s:element minOccurs="1" maxOccurs="1" name="departureTime" type="tns:TimeSpan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TimeSpan" />
      <s:element name="AddRouteDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRouteDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRouteDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sourceId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dateOfJourney" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRouteDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRouteDetailsResult" type="tns:ArrayOfGetRouteDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetRouteDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetRouteDetails_Result" nillable="true" type="tns:GetRouteDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetRouteDetails_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RouteId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfJourney" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalTime" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureTime" type="tns:TimeSpan" />
          <s:element minOccurs="0" maxOccurs="1" name="BusName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableSeats" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBookingStatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingStatusesResult" type="tns:ArrayOfGetBookingStatus_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetBookingStatus_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetBookingStatus_Result" nillable="true" type="tns:GetBookingStatus_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetBookingStatus_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeatType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="seatNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="busId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTicketDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="routeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="totalNumberOfSeats" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTicketDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTicketDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPassanger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="seatNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPassangerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPassangerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassengerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ticketId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassengerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPassengerDetailsResult" type="tns:ArrayOfGetPassangerDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetPassangerDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetPassangerDetails_Result" nillable="true" type="tns:GetPassangerDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetPassangerDetails_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PassengerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatNo" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertBusDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBusDetails" />
  </wsdl:message>
  <wsdl:message name="InsertBusDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBusSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBus" />
  </wsdl:message>
  <wsdl:message name="DeleteBusSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBusResponse" />
  </wsdl:message>
  <wsdl:message name="BookSeatSoapIn">
    <wsdl:part name="parameters" element="tns:BookSeat" />
  </wsdl:message>
  <wsdl:message name="BookSeatSoapOut">
    <wsdl:part name="parameters" element="tns:BookSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSeatTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeSeatType" />
  </wsdl:message>
  <wsdl:message name="ChangeSeatTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeSeatTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetBusDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusDetails" />
  </wsdl:message>
  <wsdl:message name="GetBusDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddCityDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddCityDetails" />
  </wsdl:message>
  <wsdl:message name="AddCityDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddCityDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCityDetails" />
  </wsdl:message>
  <wsdl:message name="GetCityDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCityDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddRouteDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddRouteDetails" />
  </wsdl:message>
  <wsdl:message name="AddRouteDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddRouteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRouteDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRouteDetails" />
  </wsdl:message>
  <wsdl:message name="GetRouteDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRouteDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookingStatuses" />
  </wsdl:message>
  <wsdl:message name="GetBookingStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:message name="AddTicketDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddTicketDetails" />
  </wsdl:message>
  <wsdl:message name="AddTicketDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddTicketDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddPassangerSoapIn">
    <wsdl:part name="parameters" element="tns:AddPassanger" />
  </wsdl:message>
  <wsdl:message name="AddPassangerSoapOut">
    <wsdl:part name="parameters" element="tns:AddPassangerResponse" />
  </wsdl:message>
  <wsdl:message name="GetPassengerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassengerDetails" />
  </wsdl:message>
  <wsdl:message name="GetPassengerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPassengerDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ProvidersWebServiceSoap">
    <wsdl:operation name="InsertBusDetails">
      <wsdl:input message="tns:InsertBusDetailsSoapIn" />
      <wsdl:output message="tns:InsertBusDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <wsdl:input message="tns:DeleteBusSoapIn" />
      <wsdl:output message="tns:DeleteBusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <wsdl:input message="tns:BookSeatSoapIn" />
      <wsdl:output message="tns:BookSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSeatType">
      <wsdl:input message="tns:ChangeSeatTypeSoapIn" />
      <wsdl:output message="tns:ChangeSeatTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBusDetails">
      <wsdl:input message="tns:GetBusDetailsSoapIn" />
      <wsdl:output message="tns:GetBusDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCityDetails">
      <wsdl:input message="tns:AddCityDetailsSoapIn" />
      <wsdl:output message="tns:AddCityDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCityDetails">
      <wsdl:input message="tns:GetCityDetailsSoapIn" />
      <wsdl:output message="tns:GetCityDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRouteDetails">
      <wsdl:input message="tns:AddRouteDetailsSoapIn" />
      <wsdl:output message="tns:AddRouteDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRouteDetails">
      <wsdl:input message="tns:GetRouteDetailsSoapIn" />
      <wsdl:output message="tns:GetRouteDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingStatuses">
      <wsdl:input message="tns:GetBookingStatusesSoapIn" />
      <wsdl:output message="tns:GetBookingStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:input message="tns:BookTicketSoapIn" />
      <wsdl:output message="tns:BookTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTicketDetails">
      <wsdl:input message="tns:AddTicketDetailsSoapIn" />
      <wsdl:output message="tns:AddTicketDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPassanger">
      <wsdl:input message="tns:AddPassangerSoapIn" />
      <wsdl:output message="tns:AddPassangerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPassengerDetails">
      <wsdl:input message="tns:GetPassengerDetailsSoapIn" />
      <wsdl:output message="tns:GetPassengerDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvidersWebServiceSoap" type="tns:ProvidersWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertBusDetails">
      <soap:operation soapAction="http://tempuri.org/InsertBusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <soap:operation soapAction="http://tempuri.org/DeleteBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <soap:operation soapAction="http://tempuri.org/BookSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSeatType">
      <soap:operation soapAction="http://tempuri.org/ChangeSeatType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusDetails">
      <soap:operation soapAction="http://tempuri.org/GetBusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCityDetails">
      <soap:operation soapAction="http://tempuri.org/AddCityDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityDetails">
      <soap:operation soapAction="http://tempuri.org/GetCityDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRouteDetails">
      <soap:operation soapAction="http://tempuri.org/AddRouteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouteDetails">
      <soap:operation soapAction="http://tempuri.org/GetRouteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingStatuses">
      <soap:operation soapAction="http://tempuri.org/GetBookingStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicketDetails">
      <soap:operation soapAction="http://tempuri.org/AddTicketDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPassanger">
      <soap:operation soapAction="http://tempuri.org/AddPassanger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassengerDetails">
      <soap:operation soapAction="http://tempuri.org/GetPassengerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProvidersWebServiceSoap12" type="tns:ProvidersWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertBusDetails">
      <soap12:operation soapAction="http://tempuri.org/InsertBusDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <soap12:operation soapAction="http://tempuri.org/DeleteBus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <soap12:operation soapAction="http://tempuri.org/BookSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSeatType">
      <soap12:operation soapAction="http://tempuri.org/ChangeSeatType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusDetails">
      <soap12:operation soapAction="http://tempuri.org/GetBusDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCityDetails">
      <soap12:operation soapAction="http://tempuri.org/AddCityDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityDetails">
      <soap12:operation soapAction="http://tempuri.org/GetCityDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRouteDetails">
      <soap12:operation soapAction="http://tempuri.org/AddRouteDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouteDetails">
      <soap12:operation soapAction="http://tempuri.org/GetRouteDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingStatuses">
      <soap12:operation soapAction="http://tempuri.org/GetBookingStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap12:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicketDetails">
      <soap12:operation soapAction="http://tempuri.org/AddTicketDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPassanger">
      <soap12:operation soapAction="http://tempuri.org/AddPassanger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassengerDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPassengerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvidersWebService">
    <wsdl:port name="ProvidersWebServiceSoap" binding="tns:ProvidersWebServiceSoap">
      <soap:address location="http://localhost:58638/ProvidersWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProvidersWebServiceSoap12" binding="tns:ProvidersWebServiceSoap12">
      <soap12:address location="http://localhost:58638/ProvidersWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>